version: 2

jobs:
  test_py39: &test-template
    docker:
      - image: circleci/python:3.9
    working_directory: ~/finvizfinance
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements-test.txt
      - run:
          name: Run test
          command: |
            . venv/bin/activate
            pytest test
  test_py310:
    <<: *test-template
    docker:
      - image: cimg/python:3.10
  test_py311:
    <<: *test-template
    docker:
      - image: cimg/python:3.11
  coverage:
    docker:
      - image: cimg/python:3.9
    working_directory: ~/finvizfinance
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install --upgrade pip
            python3 -m venv venv
            . venv/bin/activate
            sudo pip install -r requirements-coverage.txt
      - run:
          name: Run coverage
          command: |
            coverage run -m pytest -v test
            coverage report -m
      - run:
          name: Publish coverage
          command: |
            export COVERALLS_REPO_TOKEN=ClAernwluOegoexWqdcN70Skf2RHgrGId
            coveralls
workflows:
  version: 2
  build:
    jobs:
      - test_py39
      - test_py310:
          filters:
            branches:
              only:
                - master
                - before-release
                - run-tests
      - test_py311:
          filters:
            branches:
              only:
                - master
                - before-release
                - run-tests
      - coverage:
          filters:
            branches:
              only:
                - master
                - before-release
                


###########################################
# Testing CircleCI in local
###########################################
# circleci local execute --job test_py39
# circleci local execute --job coverage